/* TODO - APP && CSS STILL IN TESTING STAGES - WILL NEED ORGANIZING AND REFACTORING */


/*BODY*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 70px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    /*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28343b+0,828c95+64,b5bdc8+100 *!*/
    /*background: #28343b; !* Old browsers *!*/
    /*background: -moz-linear-gradient(top,  #28343b 0%, #828c95 64%, #b5bdc8 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top,  #28343b 0%,#828c95 64%,#b5bdc8 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom,  #28343b 0%,#828c95 64%,#b5bdc8 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=0 ); !* IE6-9 *!*/

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,7d7e7d+100 */
    background: #0e0e0e; /* Old browsers */
    background: -moz-linear-gradient(top,  #0e0e0e 0%, #7d7e7d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0e0e0e 0%,#7d7e7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
}
/*=================================================================================================================*/
/*LOGIN PAGE*/
/*=================================================================================================================*/
/* LOGIN CONTAINER PADDING */
#login_container {
    padding: 50px 80px;
}

/*=================================================================================================================*/
/* NAVBAR */
/*=================================================================================================================*/
/*GENERAL NAVBAR*/
.navbar-transparent {
    margin-bottom: 0;
    /*margin-top:300px;*/
}
/*=================================================================================================================*/
/* LOG IN SCREEN */
/*=================================================================================================================*/
#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

#main_img {
    position: relative;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
}

p{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}

h2 {
    position: absolute;
    top: 32%;
    left: 0;
    width: 100%;
}

h2 span {
    color: #fc0;
    font-size:25px;
    /*letter-spacing: -1px;*/
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

p span {
    color: white;
    /*font: bold 20px/45px Helvetica, Sans-Serif;*/
    letter-spacing: 4px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

h5 {
    color: #ffd457;
    text-shadow: 2px 2px 4px #000000;
}

/*=================================================================================================================*/
/* BUTTONS */
/*=================================================================================================================*/

.ucf_btn_clr {
    background: -webkit-linear-gradient(top,  #febf04 0%,#ffd65e 100%); /* Chrome10-25,Safari5.1-6 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf04', endColorstr='#ffd65e',GradientType=0 ); /* IE6-9 */
}

#login_btn {
    border-radius: 2px;
    box-shadow: 2px 2px 4px #000000;
}
/*=================================================================================================================*/
/* LAUNCHPAD */
/*=================================================================================================================*/
/*MESSAGE HEADER*/
.list-group-item:last-child {
    background-color: transparent;
    border:0;
}

/*MESSAGE HEADER*/
.page-header {
    border-bottom: 0;
    margin:auto;
    position:relative;
    top: calc(50% - 10px);
}

/*MESSAGE HEADER*/
.list-group-item>.badge {
    color: red;
    /*background-color: black;*/
    padding:10px;
}

/*MESSAGE TEXT COLOR*/
.list-group-item:last-child {
    color: red;
}

/*CENTER ICONS*/
.glyphicon{
    font-size: 40px;
    /* CENTER ICONS */
    margin:auto;
    position:relative;
    top: calc(50% - 10px);
}

h6{
    /* CENTER LIST WITH ICONS */
    /*margin:auto;*/
    position:relative;
    top: calc(40% - 7px);
}

.ucf_color {
    color: #fc0;
    text-shadow: 1px 1px 2px #000000;
}

/*ALERT*/
#banner {
    /*background-color: transparent;*/

    /*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,e1e1e1+49,f1f1f1+50,ffffff+100 *!*/
    /*background: #f6f6f6; !* Old browsers *!*/
    /*background: -moz-linear-gradient(-45deg,  #f6f6f6 0%, #e1e1e1 49%, #f1f1f1 50%, #ffffff 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(-45deg,  #f6f6f6 0%,#e1e1e1 49%,#f1f1f1 50%,#ffffff 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(135deg,  #f6f6f6 0%,#e1e1e1 49%,#f1f1f1 50%,#ffffff 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,7d7e7d+100 */
    background: rgb(14,14,14); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=1 ); /* IE6-9 */

    height:154px;
    border-color: #585858;

    box-shadow: 0px 2px 2px 0px black;
}

.list-group-item>.badge {
    background-color: #585958;
}

/*CHECK*/
#box1 {
    /*background-color: transparent;*/

    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    height:154px;
    border-color: black;

    box-shadow: 0px 2px 2px 0px black;
}

/*HOMEWORK*/
#box2L {
    /*background-color: transparent;*/
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    height:154px;
    border-color: black;
    box-shadow: 0px 2px 2px 0px black;
}

/*ATTENDANCE*/
#box2R {
    /*background-color: transparent;*/
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    height:154px;
    border-color: black;
    box-shadow: 0px 2px 2px 0px black;
}


/*CAREER*/
#box3L {
    /*background-color: transparent;*/
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    height:154px;
    border-color: black;
    box-shadow: 0px 2px 2px 0px black;
}


/*MESSAGES*/
#box3R {
    /*background-color: transparent;*/
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    height:154px;
    border-color: black;
    box-shadow: 0px 2px 2px 0px black;
}

#box4L {
    /*background-color: transparent;*/
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    height:154px;
    border-color: black;
    box-shadow: 0px 2px 2px 0px black;
}

#box4R {
    /*background-color: transparent;*/
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    height:154px;
    border-color: black;
    box-shadow: 0px 2px 2px 0px black;
}

/*ATTENDANCE*/
.ucf_color_green {
    color: #11dc11;
}

/*IMAGE INSDE DIV TEST*/
.fa {
    font-size: 40px;
    color: red;;
}






