/* BODY PADDING */
body {
    padding-bottom: 70px;
    font-family: 'Orbitron', sans-serif;
}

/* CONTAINER PADDING */
#login_container {
    padding: 50px 80px;
}



/*=================================================================================================================*/
/* LOG IN SCREEN */
/*=================================================================================================================*/
#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}



img {
    position: relative;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
}

p{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}

h2 {
    position: absolute;
    top: 32%;
    left: 0;
    width: 100%;
}


h2 span {
    color: #fc0;
    font-size:25px;
    /*letter-spacing: -1px;*/
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

p span {
    color: white;
    /*font: bold 20px/45px Helvetica, Sans-Serif;*/
    letter-spacing: 4px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

h5 {
    color: #ffd457;
    text-shadow: 2px 2px 4px #000000;
}

/*=================================================================================================================*/
/* BUTTONS */
/*=================================================================================================================*/

.ucf_btn_clr {
    background: -webkit-linear-gradient(top,  #febf04 0%,#ffd65e 100%); /* Chrome10-25,Safari5.1-6 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf04', endColorstr='#ffd65e',GradientType=0 ); /* IE6-9 */

}

#login_btn {
    border-radius: 2px;
    box-shadow: 2px 2px 4px #000000;
}




.glyphicon{
    font-size: 40px;
    top:50%;
    left:50%;
}

.col-xs-6 {
    height:230px;
}


.col-xs-12 {
    height:160px;
    background-color: green;
}



#top_left {
    background-color: red;
}

#top_right {
    background-color: blue;
}

#bottom_left {
    background-color: yellow;
}

#bottom_right {
    background-color: grey;
}









div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }